<ul>
{{#headlines}}
  <li>
    {{{description}}}
  </li>
{{/headlines}}
</ul>
<table class="user-events-table table is-hoverable is-fullwidth is-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th>Context</th>
  </tr>
  </thead>
  <tbody>
  {{#items}}
    <tr>
      <td class="description">{{{description}}}</td>
      <td>{{{context}}}</td>
    </tr>
  {{/items}}
  </tbody>
</table>
