<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Activity</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <style>
    table th.createdAtShort {
      width: 100px;
    }
    table th.createdAtLong {
      width: 230px;
    }
    .user-events-table td.description {
      width: 650px;
    }
    ul {
      list-style: disc;
      padding-left: 2em;
    }
  </style>
</head>
<body>
<section class="section">
  <div class="container">
    <h1 class="is-size-1">
      {{title}}
    </h1>
    <h2 class="is-size-2">
      Time
    </h2>
    <p>
      Begins on <strong>{{begin}}</strong>.
    </p>
    <p>
      Ends on <strong>{{end}}</strong>.
    </p>
    <h2 class="is-size-2">
      Outline
    </h2>
    <ul>
      <li><a href="#pullRequestRundown">Pull Request Rundown</a></li>
      <li><a href="#activitySummary">Activity Summary</a></li>
      <li><a href="#timeline">Timeline</a></li>
      <li><a href="#commentRundown">Comment Rundown</a></li>
    </ul>
    {{#pullRequestRundown}}
      <h2 id="pullRequestRundown" class="is-size-2">
        Pull Request Rundown
      </h2>
      {{{content}}}
    {{/pullRequestRundown}}
    {{#activitySummary}}
      <h2 id="activitySummary" class="is-size-2">
        Activity Summary
      </h2>
      {{{content}}}
    {{/activitySummary}}
    <h2 id="timeline" class="is-size-2">
      Timeline
    </h2>
    {{#daysOfUserEvents}}
      <h2 class="is-size-2">{{dayName}}</h2>
      <p>There were {{eventsThatDay}} events on {{dayName}}.</p>
      <table class="user-events-table table is-hoverable is-fullwidth is-striped">
        <thead>
        <tr>
          <th>Time</th>
          <th>User</th>
          <th>Activity</th>
          <th>Context</th>
          <th>Links</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Time</th>
          <th>User</th>
          <th>Activity</th>
          <th>Context</th>
          <th>Links</th>
        </tr>
        </tfoot>
        <tbody>
        {{#userEvents}}
          <tr>
            <th class="createdAtShort">{{createdAtDescription}}</th>
            <th>{{actor}}</th>
            <td class="description">{{{description}}}</td>
            <td>{{{repo}}}</td>
            <td>
              {{{links}}}
            </td>
          </tr>
        {{/userEvents}}
        </tbody>
      </table>
    {{/daysOfUserEvents}}
    {{#commentRundown}}
      <h2 id="commentRundown" class="is-size-2">
        Comment Rundown
      </h2>
      {{{content}}}
    {{/commentRundown}}
  </div>
</section>
</body>
</html>
